<header id='header'>
  <div id='crop'>
    <img src='https://www.freelogodesign.org/Content/img/logo-ex-5.png' id='header-img' alt=''>
  </div>
  <nav id='nav-bar'>
    <a href='#whatsnew' class='nav-link'>What's new</a>
    <a href='#howitworks' class='nav-link'>How it works</a>
    <a href='#pricing' class='nav-link'>Pricing</a>
  </nav>
</header>

<main id='main'>

  <div id='background-div'>
    <h1 id='title'>Meet the apple pro.</h1>
    <input [(ngModel)]='subscriberEmail' type='email' id='email' placeholder='Enter your email here' (keyup.enter)='addSubscriber()' required>
    <button type='button' id='subscribe' (click)='addSubscriber()'>SUBSCRIBE!</button>
    <div id='subscribers' *ngIf='subscriberList.length > 0'>
      <h2>Those who already subscribed</h2>
      <ul>
        <li *ngFor='let subscriber of subscriberList'>{{ subscriber }}</li>
      </ul>
    </div>
  </div>
  <div id='whatsnew'>
    <h2>What's New</h2>
    <div class='wrapper'>
      <i class='fab fa-app-store'></i>
      <div class='right'>
        <h3>Updated App Store version</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi euismod mi eget consequat tempor. Cras sapien sapien, congue in orci vehicula, porttitor sodales tellus. Morbi. </p>
      </div>
    </div>
    <hr>
    <div class='wrapper'>
      <i class='fa fa-desktop'></i>
      <div class='right'>
        <h3>Compatibility bugs fixed</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin fermentum purus nibh, vel consequat ipsum pulvinar id. In hac habitasse platea dictumst. Praesent erat sem, hendrerit in aliquet id, congue. </p>
      </div>
    </div>
    <hr>
    <div class='wrapper'>
      <i class='fas fa-battery-full'></i>
      <div class='right'>
        <h3>Extended battery life</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tristique turpis at turpis tempor, nec ornare orci commodo. </p>
      </div>
    </div>
  </div>
  <div id='howitworks'>
    <h2>how It Works</h2>
    <iframe id='video' width='560' height='315' src='https://www.youtube.com/embed/GAb6BWtE0Qw' frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen></iframe>
  </div>
  <div id='pricing' *ngIf='productList.length > 0'>
    <h2>Pricing</h2>
    <div class='products-container'>
      <div *ngFor='let product of productList'>
        <div class='card'>
          <img src={{product.imgUrl}} alt=product.name>
          <h3>{{product.name}}</h3>
          <p class='price'>{{product.price}}</p>
          <p>{{product.description}}</p>
          <p><button>Pre-order now</button></p>
        </div>
      </div>
    </div>
    <hr />
  </div>
</main>

<footer id='footer'>
  Made with ♥ by Guti Zsombor
</footer>